*{
    margin: 0;
    padding: 0;
    color: #f7dd47;

}

body{
    font-family: "Acme", sans-serif;
    -webkit-text-stroke: .1px black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #e6b2e6;
    overflow: hidden;


}

h1 {
    margin-top: 10px;
    font-size: 45px;
    margin-bottom: 0;
}

.container div  {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    
}
.container>div>*{
    flex:1; /*makes even boxes*/
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 550px;
    height: auto;

}

.sketchpad{
    margin-bottom: -10px;
    
}


.features-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 20px;
    padding: 5px 8px;
    background-color: antiquewhite;
    border: 1px solid black;
    width: auto; 
    height: auto;   
    border-radius: 10px;
    overflow: hidden;

}
.panel {
    margin: 0 10px;
}
.size, .bucket,.eraser,.restart, .red, .blue, .yellow, .random{
    padding:5px 10px;
    display: flex;
    justify-content:space-evenly;
  /*  margin: 10px; */
    width:auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(200, 199, 199);
}

/*
figure out how to make the button adjust automatically base on size 
of btn container
ADD SHADOW TO COXNTAINER
*/
.outer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.features-container {
    flex:1;
}

h5 {
    margin: 10px;
    text-align: center;
}

